.summary-card-container {
    width: 100%;
    aspect-ratio: 1.5 / 1;
    background: linear-gradient(138.32deg, #8ABB8F 3.31%, #F0F7FF 86.34%);
    border-radius: 8px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white !important;
    box-shadow: 0px 0px 12px 4px #1E1E1E0D;

}

.summary-card-head h5 {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 0px;
}

.summary-card-head h6 {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;

    margin-bottom: 0px;
}

.summary-card-count {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 0px 13px;
}

.summary-icon-section {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6FA875;
    border-radius: 50%;

}

.summary-count-section {
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(92.43deg, #FFFFFF -26.05%, #6FA875 71.77%);
    border-radius: 4px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}