.login-field {
  width: 100%;
  height: 56px;
  margin-bottom: 30px
}
.login-label {
font-family: var(--secondary-font);
color: var(--third-color);
font-weight: 400;
font-size: 18px;
line-height: 100%;
position: static !important;
transform: none !important;
display: block;
margin-bottom: 14px;
}
.login-field.error .mat-mdc-text-field-wrapper {
  border-color: #e53935 !important;
}

.mat-error-message {
  font-size: 12px;
  color: #e53935;
}