.dashboard-heading-wraper {
    display: flex;
    width: 427px;
    height: 64px;
    justify-content: end;
    position: relative;
}

.dashboard-bg-section {
    width: 400px;
    height: 100%;
    border-radius: 4px;
    padding: 0px 22px;
    display: flex;
    align-items: center;
}

.dashboard-bg-section h5{
    margin-bottom: 0px;
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
}

.dashboard-icon-section {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #FCFCFC
}