<div class="payment-card-wrapper" [style.background]="bg()">
    <div class="head-section">
        <h5>{{headingText()}}</h5>
        <h6>From Payment Summary</h6>
    </div>
    <div class="value-sec">
        <div [style.background]="iconBg()" class="icon-container">
            <img src="/icons/rupee.svg" alt="">
        </div>
        <div class="value-container">
            <div class="value-section-wrapper">
                <div [style.background]="countBg()" class="value-section">
                    <span class="inr">INR </span><span>{{count()}}</span>
                </div>
                <div [style.background]="indecatorBg()" class="indecator">
                    <div class="dot"></div>
                </div>
            </div>
            <div class="value-icon-sec">
                <div [style.background]="iconBg()" class="icon2-container">
                    <img src="/icons/vallet.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
