.header-container {
  background-color:var(--secondary-color);
  /* background-color: black; */
  margin: 0;
  height: 76px;
}
.header-container p {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.header-container img {
  display: block;          
  margin: 0 auto;          
  width: 40px;
  height: 40px;
  object-fit: contain; 
  margin-bottom: 4px;
}