.dashboard-container {
    background-color: var(--container-bg);
    padding-top: 24px;
}

.dashboard-heading-section {
    margin-bottom: 30px;
}

.heading-content {
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
    gap: 20px;
}

.greeting {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--third-color);
    opacity: 80%;
    margin: 0;
}

.date-picker-container {
    flex-shrink: 0;
}

/* Responsive design */
@media (max-width: 768px) {
    .heading-content {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .date-picker-container {
        width: 100%;
    }
    
    .greeting {
        font-size: 20px;
        line-height: 22px;
    }
}